
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.card:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.read-the-docs {
  color: #888;
}

.outer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (max-width: 1250px) {
  .outer-div{
    flex: column;
  }
  .box{
    flex: column;
  }
}

.box {
  width: 36vw;
  height: 40vh;
  background-color: lightblue;
  text-align: center;
  line-height: 100px;
  border: 2px solid black;
  font-size: 24px;
  box-sizing: border-box;
  color: black;
  line-height: 1.5;
}

.translate-btn {
  background-color: lightblue; 
  border: 2px solid black;
  color: white;             
  padding: 12px 24px;       
  font-size: 16px;          
  font-weight: bold;        
  border: none;             
  border-radius: 8px;       
  cursor: pointer;         
  transition: all 0.3s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.translate-btn:hover{
  transform: scale(1.2);
  filter: drop-shadow(2em 2em 2em #646cffaa);
}
.btn-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.second-btn {
  background-color: lightblue; 
  border: 2px solid black;
  color: white;             
  padding: 12px 24px;       
  font-size: 16px;          
  font-weight: bold;        
  border: none;             
  border-radius: 8px;       
  cursor: pointer;         
  transition: all 0.3s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.second-btn:hover{
  transform: scale(1.2);
  filter: drop-shadow(0em 0em 2em #646cffaa);
}

.lower-box{
  width: 75vw;
  height: 60vh;
  background-color: lightblue;
  text-align: center;
  line-height: 100px;
  border: 2px solid black;
  font-size: 24px;
  box-sizing: border-box;
  color: black;
  margin: 10px;
  justify-content: center;
  align-items: center;
}